{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'frontPage/main.css'%}">

    <meta charset="UTF-8">
    {% if title%}
        <title>Algorithm Visualized {{ title }}</title>
    {%else%}
        <title>Algorithm Visualized</title>
    {% endif %}
</head>
<body>


<h1 id="demo"></h1>

<button onclick="document.getElementById('demo').innerHTML = generateNumForArray(5,5555)">New Array</button>

<script>
  function generateNumForArray(min, max) {
  arr = [];
  for (var i = 0; i < 100; i++){
    arr.push( Math.floor(Math.random() * (max - min)) + min);
  }
  return arr;
}

</script>

<script src="myscript.js"></script>


</body>
</html>